<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BeautifulNumber</servlet-name>
        <servlet-class>controlador.BeautifulNumber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Calculator</servlet-name>
        <servlet-class>controlador.Calculator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controlador.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelloWord</servlet-name>
        <servlet-class>controlador.HelloWord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderArray</servlet-name>
        <servlet-class>controlador.OrderArray</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MagicSquare</servlet-name>
        <servlet-class>controlador.MagicSquare</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BeautifulNumber</servlet-name>
        <url-pattern>/BeautifulNumber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Calculator</servlet-name>
        <url-pattern>/Calculator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloWord</servlet-name>
        <url-pattern>/HelloWord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderArray</servlet-name>
        <url-pattern>/OrderArray</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MagicSquare</servlet-name>
        <url-pattern>/MagicSquare</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
